<header>
  <h1>URL Shortener</h1>
<% if(!user) { %>
      <a href="/register">Register</a>
      <a href="/login">Log In</a>
    <% } else { %>
      <form action="/logout" method="POST">
        <span> <%=user.email%> </span>
        <input type="submit" value="Logout">
      </form>
    <% } %>
</header>


